table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
td, th {
    border: 0.5px solid gray;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: lightgrey;
}

.title-1{
    background-color: green;
    color: white;
}

tr td:hover{
    background-color: greenyellow;
}